.addtocartcontainer {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-self: center;
}
.addtocart {
  height: 30px;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.cartinput {
  width: 20px;
  height: 30px;
  align-self: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
